* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: black;
  color: white;
  font-family: "Gaegu", sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
}

.line {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items.center;
}

.center {
  width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.big {
  font-size: 48px;
}

h1 {
  font-family: "Bytesized", sans-serif;
}

footer {
  background-image: linear-gradient(to bottom, rgb(170, 170, 255), rgb(85, 85, 255));
  color: white;
}

.light-mode footer {
  background-image: linear-gradient(to bottom, rgb(170, 170, 255), blue);
}