* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: black;
    color: white;
    font-family: "Sekuya", system-ui;
}

.light-mode {
    background-color: white;
    color: black;
}

.center {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.big{
    font-size: 40px;
}

.line{
    display:flex;
    gap:15px;
    justify-content: space-between;
    align-items: center;
}

.poem {
    text-align: center;
}

footer {
    background-color: blue;
    color: brown;
    background-image: linear-gradient(to bottom, darkslateblue, darkslategrey);
}

.light-mode footer {
    background-color: brown;
    color: blue;
}

#color-mode-button{
    background-color:black;
    color:white;
    border-radius: 25%;
    box-shadow: 10px 5px 5px 0 rgb(21, 0, 255);
}

button{
    min-width: 40px;
}

header{
     background-image: linear-gradient(to bottom, darkslategrey,darkslateblue);
}